@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* fluid typography from utopia calculator */
$font-sm: clamp(0.91rem, calc(0.89rem + 0.10vw), 0.96rem);
$font-base: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.20rem);
$font-lg: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.50rem);
$font-xl: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
$font-2xl: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
$font-3xl: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
$font-4xl: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
$font-5xl: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);

/* variables */
$font-default: Outfit;
$bcg: #171819;
$muted: #C9CBCF;
$accent: #66CCC1;


@mixin drop-sm {
	filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.90))
}
@mixin drop-md {
	filter: drop-shadow(1px 2px 0px rgba(0, 0, 0, 0.90))
}
@mixin drop-lg {
	filter: drop-shadow(1px 4px 0px rgba(0, 0, 0, 0.90));
}

@mixin container {
	margin: 0 auto;
	padding: 1rem;
	@media (min-width: 640px) {
		padding: 2rem;
	}
	@media (min-width: 1024px) {
		padding: 4rem;
	}
	@media (min-width:1280px){
		padding: 5rem;
	}
	@media (min-width: 1536px) {
		padding: 6rem;
	}

}

/// add mixins below to pararlazx css

@mixin perspective {
	perspective: 100px;
}

@mixin preserve-3d {
	transform-style: preserve-3d;
}
@mixin distance-1 {
	transform: translateZ(-100px) scale(2);
}
@mixin distance-2 {
	transform: translateZ(-50px) scale(1.5);
}


/* universal border-box sizing */
*,
::before,
::after {
	box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-moz-tab-size: 4; /* 3 */
	tab-size: 4; /* 3 */
}

/*
Sections
========
*/

/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	margin: 0; /* 1 */
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji'; /* 2 */
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

/*
Custom styling content
======================
*/

body {
  * {
    &::selection {
      background-color: $accent;
      color: $bcg;
    }
    &::-moz-selection{
      background-color: $bcg;
      color: $bcg;
    }
    font-family: $font-default;
    font-size: $font-xl;
	overflow: hidden;
  }
}

.parallax{
	height: 100vh;
	//padding bottom 0 on small screens and 3rem on normal
	overflow-y: auto;
	overflow-x: hidden;
	perspective: 100px;

}

.nav {
  display: grid;
  place-items: center;
  position: absolute;
  top:0;
  width: 100%;
  z-index: 50;
  a {
    text-decoration: none;
    padding: 0.25rem;
    margin: 1rem;
    border-radius: 9999px; 
    transition-property: box-shadow; 
    &:focus{
      outline: none;
    }
    &:focus-visible{
      box-shadow: 0 0 0 4px $accent; 
    }
  }
  .web-logo{
    width: 4rem;
    @media screen and (min-width: 640px) {
      width: 6rem;
    }
    @media screen and (min-width: 1024px) {
      width: 7rem;
    }
  }
}
.header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	transform-style: preserve-3d;
	.gradient-top {
		position: absolute;
		inset: 0;
		bottom: 75%;
		background-image: linear-gradient(#125f8d, transparent);
		z-index: -1;		
	}
	.gradient-bottom {
		position: absolute;
		inset: 0;
		top: 30%;
		background-image: linear-gradient(transparent, $bcg);
		z-index: -1;
	}
	img {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: -20;
		object-fit:cover;
		object-position: center top;
		
	}
	.header-text {
		font-weight: bold;
		color: white;
		padding: 3rem;
		text-align: center;
		letter-spacing: 0.025rem;
		h1{
			font-size: $font-4xl;
			@include drop-sm();
			@media screen and (min-width: 1024px)  {
				@include drop-lg();
			}
		}
		p {
			font-size: $font-2xl;
			@include drop-sm();
			@media screen and (min-width: 1024px)  {
				@include drop-lg();
			}
		}
	}
	a {
		background-color: rgb(0, 121, 158);
		color: white;
		text-decoration: none;
		font-weight: 500;
		padding: 1rem 2rem;
		border-radius: 9999px;
		border: 2px solid $bcg;
		display: flex;
		transform: translateZ(-500px);
		transition-duration: 200ms;
	}
	a:focus {
		outline: none;
	}
	a:focus-visible {
		box-shadow: 0 0 0 4px $bcg;
		outline: $accent solid 4px; 
		outline-offset: 4px;
		box-sizing: 0 0 0 4px $bcg;
	}
	a:hover {
		background-color: $accent;
		color: rgb(77, 77, 77);
		scale: 1.05;

	}
	a svg {
		margin-left: 1rem;
	}

}

// done on laptop 8/13

/* ADDED TO TOP!!!
@mixin container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	@media (min-width: 640px) {
		padding: 2rem;
	}

	@media (min-width: 1024px) {
		padding: 4rem;
	}

	@media (min-width:1280px) {
		padding: 5rem;
	}

	@media (min-width: 1536px) {
		padding: 6rem;
	}

}
*/

main {
	margin-top: 4rem;
	margin-bottom: -4rem;
	padding-bottom: 4rem;
	// padding and margin off set for fading, will allow to scale up without beong cut off

	//sm: mt-24
	//lg: mt=40
	// sm: gap-24  lg: gap-4
	overflow:hidden;

	/*
	section{
		opacity: 0;
		transform: translateY(-2rem);
		transition: all 500ms;
	}
	section.fade-up{
		opacity:1;
		transform: translateY(2rem);
	}
	*/
	section.intro {
		@include container();
		display: grid;
		gap: 1rem;
		text-align: center;
		max-width: 65ch;
		div small {
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: $accent;
			// drop-shadow-text-small

		}
		div h2 {
			letter-spacing: 0.025em;
			font-weight: 700;
			//text-3xl
			//drop-shadow-text-md

		}
		p {
			color: #777;
			max-width: 42rem;
			@include drop-sm();
		}
	}

	div>section.slider {
		@include container();
		display: grid;
		gap: 1rem;
		text-align: center;
		position: relative;
		@media screen and (min-width:640px) {
			text-align: left;
			
		}
		div small {
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: $accent;
			// drop-shadow-text-small

		}
		div h2 {
			letter-spacing: 0.025em;
			font-weight: 700;
			//text-3xl
			//drop-shadow-text-md

		}
	}
	div>section.slider .slider-control{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		@media screen and (min-width:640px) {
			flex-wrap: no-wrap;
			justify-content: space-between;	
		}
		p {
			color: #777;
			@include drop-sm();
			max-width: 42rem;
		}
		.buttons{
			display: flex;
			align-items: center;
			gap: 1rem;
			padding: 1rem;
		}
		.buttons>*{
			display:grid;
			place-items: center;
			padding: 0.5rem;
			border-radius: 9999px;
			border: none;
			background-color: $bcg;
			opacity: 0.5;
			&:hover{
				opacity: 0.8;
				background-color: $accent;
			}
			&:focus {
				outline:none;
			}
			&:focus-visible {
				box-shadow: 0 0 0 4px $accent;			
			}
			&:disabled{
				opacity: 0.2;
				background-color: $bcg;
			}
		}
		.buttons>*>svg{
			pointer-events: none;
		}
	}
	.slides-wrapper {
		margin-top: -3rem;
		@include container();
		@media screen and (max-width: 480px) {
			width: 100vw;
			
		}
		@media screen and (min-width:640px) {
			margin-top: -4rem;
		}
		@media screen and (min-width: 1024px) {
			margin-top: -9rem;
		}
		div {
			display: flex;
			transition: transform 500ms;
		}
		div>.slide{
			position:relative;
			flex: 1 0 auto;
			padding-right: 1rem;
			@media screen and (max-width:480px) {
				width: auto;
				flex-basis: 24rem;
			}
		}
		div>.slide>img {
			object-fit: cover;
			height: 100%;
			@media (hover: hover){
				filter: grayscale(1); 
				transition-duration: 300ms;
				&+p {
					opacity: 0;
				}
				&:hover {
					filter: grayscale(0);
					&+p {
						opacity: 1;
					}
				}
			}
		}
		div>.slide>p {
			position: absolute;
			bottom: 1rem;
			left: 0.5rem;
			margin: 0;
			padding: 0.5rem 1rem;
			background-color: $bcg;
			opacity: 0.8;
			font-weight: 700;
			font-size: $font-lg;
			pointer-events: none;
			letter-spacing: 0.025em;
			transition-duration: 300ms;
		}

	}
	section.contact form{
		padding: 0.25rem;
		margin: 0 auto;
		max-width: 600px;
		div {
			position: relative;
		}
		div>label{
			letter-spacing: 0.125rem;
			position: absolute;
			padding: 0 0.5rem;
			border-radius: 9999px;
			top: 0.5rem;
			left: 4rem;
			font-size: $font-lg;
			transition: all 300ms;
			background-color: $bcg;
			color: rgb(199, 199, 199);
		}

		div>input {
			border: 4px solid $accent;
			border-radius: 9999px;
			padding: 0.5rem;
			margin: 0 1rem 2rem;
			background-color: transparent;
			width: 100%;
			font-size: $font-base;
			&:focus{
				border-color: orange;
				outline: none;
				+label {
				top: -0.5rem;
				left: 3rem;
				font-size: $font-base;
				color: rgb(255, 165, 0, 0.7);
				}
			}
		}
		textarea{
			border: 4px solid $accent;
			border-radius: 1rem;
			margin: 0 1rem;
			width: 100%;
			background-color: transparent;
			&:focus{
				border-color: orange;
				outline: none;
				+label {
				top: -0.5rem;
				left: 3rem;
				font-size: $font-base;
				color: rgb(255, 165, 0, 0.7);
				}
			}

		}
				button {
					background-color: rgb(0, 121, 158);
					color: white;
					text-decoration: none;
					font-weight: 500;
					padding: 1rem 2rem;
					border-radius: 9999px;
					border: 2px solid $bcg;
					transition-duration: 200ms;
					width: 100%;
				}
		
				button:focus {
					outline: none;
				}
		
				button:focus-visible {
					box-shadow: 0 0 0 4px $bcg;
					outline: $accent solid 4px;
					outline-offset: 4px;
					box-sizing: 0 0 0 4px $bcg;
				}
		
				button:hover {
					background-color: $accent;
					color: rgb(77, 77, 77);
					scale: 1.05;
		
				}
				button>span{
					color: white;
					filter: drop-shadow(1px 2px 0px rgba(0, 0, 0, 0.90));
					letter-spacing: 0.125rem;
				}
	}
	//TURN BODY OVEFLOW HIDDEN OFF FOR THIS SECTION

}
